<h1>Check out these bears!</h1>

<p>Coming soon: Lots of awesome stuff about bears</p>

<p>Lee deserves to have a pet bear because think of all the good things he could do for the world if he had a bear as a his loyal companion. </p>
